 {% include 'chunks/header.html' %}
  


  <hr>
<div class="page">
  <h2>Biblioteca</h2>

  {% if library %}
    <div id="library-list">
      {% for book in library %}
        <div class="library-item">
          <a href="{{ url_for('library_pdf', session_id=book.id) }}">
            <img src="{{ url_for('library_cover', session_id=book.id) }}" alt="{{ book.title }}" width="150">
          </a>
          <p>{{ book.title }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Todavía no hay libros en la colección.</p>
  {% endif %}
  <p>
    <a class="btn" href="/crear" id="new-book-btn">Crear tu aventura</a>
  </p>
</div>
   {% include 'chunks/footer.html' %}
